.discourse-top-contributors {
  margin-top: 3rem;
  padding: 0;
  width: max-content;
  .top-contributors-heading {
    font-size: 1.5em;
    padding: 1em;
    border-bottom: 1px solid #d2d5d9;
    white-space: nowrap;
    background-color: #FAF9F8;
  }
}

.side-nav-container-body.links-wrapper {
  list-style-type: none;
 > li > a {
  display: block;
  text-decoration: none;
  color: inherit;
 }
}

@media screen and (min-width: 850px) {
  .discourse-important-links {
    grid-area: sidebar2;
  }
}

